# Data
data/raw/
data/interim/
data/processed/
data/*.zip
data/**/*.zip

# MLflow tracking/artifacts
mlruns/
mlartifacts/

# Model artifacts / checkpoints / logs
**/*.ckpt
lightning_logs/
checkpoints/
trained_models/
wandb/

# Python / env
.venv/
__pycache__/
*.pyc

# Reports (optional: keep figures/metrics if you want)
reports/

# VSCode
.vscode/

# runpod
runpod
runpod.pub

# mlruns
/mlruns/